<h2>Pandas</h2>

We use Pandas as the primary tool for analyzing data.  All of the functions we calculated<br>
by hand earlier in this course are now given to you automatically using built in functions.<br>
<br>
The primary data structures used with Pandas are series and dataframes<br>
The difference is that we use series for 1 dimensional data and we use dataframes for<br>
multidimensional data.

<h2>Pandas Series</h2>

To create a pandas data series do the following:

In [39]:
import pandas as pd
x = pd.Series(range(1,10))
x

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

<h4>Data types</h4>
We can check the type of data that we are storing by using the dtype method<br>

In [40]:
import pandas as pd
x = pd.Series(range(1,10))
x.dtype

dtype('int64')

Let's try the same thing using charaters in a string<br>

In [41]:
import pandas as pd
x = pd.Series(['Python'])
x

0    Python
dtype: object

<h2>Exercise</h2>
Store the string 'Learning Python is fun' as a string of characters to a pandas series<br>

<h4>Solution</h4>

In [42]:
import pandas as pd
phrase = 'Learning Python is fun'
x = pd.Series(list(phrase))
x

0     L
1     e
2     a
3     r
4     n
5     i
6     n
7     g
8
9     P
10    y
11    t
12    h
13    o
14    n
15
16    i
17    s
18
19    f
20    u
21    n
dtype: object

Let's now take a series of floating point numbers and store them in a pandas series<br>

In [43]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4]
ps = pd.Series(numbers)
ps

0    2.0
1    2.4
2    3.0
3    3.4
dtype: float64

In [44]:
import pandas as pd
numbers = [2, 4., 3, 6]
ps = pd.Series(numbers)
ps

0    2.0
1    4.0
2    3.0
3    6.0
dtype: float64

In [45]:
import pandas as pd
numbers = [2, 4., 3, 6, 'Python']
ps = pd.Series(numbers)
ps

0         2
1       4.0
2         3
3         6
4    Python
dtype: object

Notice that we included both integers and floating point numbers in our series.<br>
However, pandas will cast the series always as the most complex item it has to store.<br>
We get the data type once again by calling the dtype method.

In [46]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps

0       2
1     2.4
2       3
3     3.4
4    Blue
dtype: object

We can change elements in a series by assigning a value to the element<br>
<br>

NOTE: It does not automatically change all of the elements in a series if we manually change<br>
all of the elements to the same data type

In [47]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps

0       2
1     2.4
2       3
3     3.4
4    23.5
dtype: object

To access individual elements in a series we use indexinging and slicing as we<br>
do in regular python.  To access the first element in our series type:
<br>

In [48]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[0]

2

To obtain a range of number we use slicing.  To get the last 2 elements in our series<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]
</code>

In [49]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]

3     3.4
4    Blue
dtype: object

We can change elements in a series by assigning a value to the element<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps
</code><br>
NOTE: It does not automatically change all of the elements in a series if we manually change<br>
all of the elements to the same data type

In [50]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps

0       2
1     2.4
2       3
3     3.4
4    23.5
dtype: object

<h2>Pandas Series Casting</h2>
We wil now change our data from an object to a int64 data series<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps.astype('float32')
ps.dtype
new_ps = ps.astype('float32')
new_ps
</code>
NOTE: This operation is not in place

In [51]:
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps.astype('float32')
ps.dtype
new_ps = ps.astype('float32')
new_ps

0     2.0
1     2.4
2     3.0
3     3.4
4    23.5
dtype: float32

We can create a series of dates<br>
<code>
import pandas as pd
dates = pd.Series(pd.date_range('20200101', periods=6))
print(dates.dtype)
dates
</code>

In [1]:
import pandas as pd
dates = pd.Series(pd.date_range('20200101', periods=6))
print(dates.dtype)
dates
# help(pd.date_range)

datetime64[ns]

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
dtype: datetime64[ns]

In [53]:
import pandas as pd
pd.date_range(start='10/1/2021', end='10/30/2021')

DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04',
               '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08',
               '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
               '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16',
               '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20',
               '2021-10-21', '2021-10-22', '2021-10-23', '2021-10-24',
               '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
               '2021-10-29', '2021-10-30'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(end='1/1/2018', periods=30)

DatetimeIndex(['2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14',
               '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-18',
               '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22',
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(start='2018-04-24', end='2018-04-27', periods=4)

DatetimeIndex(['2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27'], dtype='datetime64[ns]', freq=None)

In [56]:
pd.date_range(start='9/1/2021', periods=5, freq='M')

DatetimeIndex(['2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='M')

In [57]:
pd.date_range(start='1/1/2018', periods=5, freq='Y')

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

<h2>Docstrings</h2>

In [5]:
def reverse_string(phrase):
    '''
    This function takes in a phrase and prints the phrase in reverse order
    '''
    return ''.join([phrase[x] for x in range(len(x)-1,-1,-1)])

x = 'I love coding in python'
print(reverse_string(x))
print(help(reverse_string))

nohtyp ni gnidoc evol I
Help on function reverse_string in module __main__:

reverse_string(phrase)
    This function takes in a phrase and prints the phrase in reverse order

None

<h2>Pandas Operations</h2>
We can perform an operation against the whole series<br>
<code>
x = range(10,21)
s1 = pd.Series(x) * 2
s1
</code>

In [59]:
x = range(10,21)
s1 = pd.Series(x) * 2
s1

0     20
1     22
2     24
3     26
4     28
5     30
6     32
7     34
8     36
9     38
10    40
dtype: int64

<h2>Exercise</h2>
Create a data series of all the odd numbers from 100 to 130<br>
The divide each number by 3<br>

<h4>Solution</h4>

In [60]:
import pandas as pd
x = range(101,131,2)
ps = pd.Series(x) / 3
ps

0     33.666667
1     34.333333
2     35.000000
3     35.666667
4     36.333333
5     37.000000
6     37.666667
7     38.333333
8     39.000000
9     39.666667
10    40.333333
11    41.000000
12    41.666667
13    42.333333
14    43.000000
dtype: float64

<h2>Series head and tail</h2>
To display the beginning and ending of a long series use head and tail.<br>
This is the same as using the linux head and tail.<br>
<code>
import pandas as pd
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.head()
</code>
<br>
<code>
import pandas as pd
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.tail()
</code>
<br>
Head will show the first 5 items in a series
Tail will show the last 5 items in a series

In [61]:
import pandas as pd
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.head()

0    33.666667
1    34.333333
2    35.000000
3    35.666667
4    36.333333
dtype: float64

In [62]:
import pandas as pd
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.tail()

30    53.666667
31    54.333333
32    55.000000
33    55.666667
34    56.333333
dtype: float64

<h2>Adding to a data series</h2>
To add to a series we use the append method.  However, we must use an optional<br>
parameter if we haven't included an index on our series.<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p3
</code>

In [63]:
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p3

0     101
1     103
2     105
3     107
4     109
5     111
6     113
7     115
8     117
9     119
10      1
11      2
12      3
13      4
14      5
15      6
16      7
17      8
18      9
19     10
dtype: int64

<h2>Removing a row from a series</h2>
To remove a line from a series use the drop method<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p4 = p3.drop(1)
p4
</code>

In [64]:
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p4 = p3.drop(1)
p4

0     101
2     105
3     107
4     109
5     111
6     113
7     115
8     117
9     119
10      1
11      2
12      3
13      4
14      5
15      6
16      7
17      8
18      9
19     10
dtype: int64

<h2>Pandas Series Index</h2>
We can add an index to a series by passing in an index of the same size as the data<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps
</code>
<br>
NOTE: The size of the index and data must be the same

In [65]:
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps

5    A
6    B
7    C
8    D
9    E
dtype: object

<h2>Pandas search using the index</h2>
To search for an element isn a series use the 'loc' method<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps.loc[8]
</code>

In [66]:
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps.loc[8]

'D'

<h2>Exercise</h2>
Create a series where the index is the ascii number for the capital letters<br>
and the column will have the actual capital letter.<br>
Return the letter corresponding to the index 72<br>

In [67]:
import pandas as pd
numbers = range(65,91)
chars = [chr(i) for i in numbers]
letters = pd.Series(chars,index=numbers)
print(letters)
letters.loc[72]

65    A
66    B
67    C
68    D
69    E
70    F
71    G
72    H
73    I
74    J
75    K
76    L
77    M
78    N
79    O
80    P
81    Q
82    R
83    S
84    T
85    U
86    V
87    W
88    X
89    Y
90    Z
dtype: object

'H'