<h2>Exercise</h2>
Create a series where the index is the ascii number for the capital letters<br>
and the column will have the actual capital letter.<br>
Return the letter corresponding to the index 72<br>

In [6]:
import pandas as pd

numbers = range(65,91)
chars = [chr(i) for i in numbers]
letters = pd.Series(chars, index=numbers)
print(letters)
letters.loc[72]

65    A
66    B
67    C
68    D
69    E
70    F
71    G
72    H
73    I
74    J
75    K
76    L
77    M
78    N
79    O
80    P
81    Q
82    R
83    S
84    T
85    U
86    V
87    W
88    X
89    Y
90    Z
dtype: object

'H'

<h2>Exercise</h2>
Create a pandas data series with every lower case letter of the alphabet<br>
with the ascii number as the index<br>

In [7]:
import pandas as pd
index = range(97,97+26)
chars = [chr(char) for char in index]
ps = pd.Series(chars,index = index)
ps

97     a
98     b
99     c
100    d
101    e
102    f
103    g
104    h
105    i
106    j
107    k
108    l
109    m
110    n
111    o
112    p
113    q
114    r
115    s
116    t
117    u
118    v
119    w
120    x
121    y
122    z
dtype: object

<h2>Exercise</h2>
Create a pandas series with the following information:<br>
The index is of the following:<br>
desserts ={'Apple Pie': 9.99, <br>
          'Cheesecake': 21.00, <br>
          'Chocolate Souffle': 14.99,<br>
          'Carrot Cake': 11.99}<br>
1. Make the index the names and the prices in the column<br>
2. Print the price of the 'Cheesecake'<br>
3. Give the total cost 
4. Average cost

In [5]:
import pandas as pd

desserts ={'Apple Pie': 9.99,
          'Cheesecake': 21.00, 
          'Chocolate Souffle': 14.99,
          'Carrot Cake': 11.99}
print(desserts.keys())
print(desserts.values())
results = pd.Series(desserts.values(), index = desserts.keys())
results.loc['Cheesecake']


sum = round(results.sum(), 2)
print(f'the sum is: {sum}')

average = round(results.mean(), 2)
print(f'the average is: {average}')

dict_keys(['Apple Pie', 'Cheesecake', 'Chocolate Souffle', 'Carrot Cake'])
dict_values([9.99, 21.0, 14.99, 11.99])
the sum is: 57.97
the average is: 14.49

The following represented the price of gasoline in the following states:<br>
{'New York': [3.23, 3.17, 3.23, 3.10, 3.09],<br>
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}<br>
Create a pandas series with the index of the state and the column with the average price<br>
per 5 day period

In [ ]:
import pandas as pd

gas_prices = {'New York': [3.23, 3.17, 3.23, 3.10, 3.09],
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}

res = pd.Series([sum(v)/len(v) for k,v in gas_prices.items() ], index = gas_prices.keys())
res

<h2>Exercise</h2>
<br>
<code>
cusips = ['A123456','C711111','P90909A','VG20000']<br>
bonds = ['AAA - CLO Bonds','TRANCHE C Rated bond','Vanilla Repo 2.3%','ETF Russell 1000']<br>
</code><br>
Create a pandas series and locate the bond with this cusip 'P90909A' as the index.
<br>
NOTE: loc uses square brackets

In [9]:
import pandas as pd

cusips = ['A123456','C711111','P90909A','VG20000']
bonds = ['AAA - CLO Bonds','TRANCHE C Rated bond','Vanilla Repo 2.3%','ETF Russell 1000']

bondData = pd.Series(bonds, index=cusips)
print(bondData)
p90909a = bondData.loc['P90909A']
print(p90909a)

A123456         AAA - CLO Bonds
C711111    TRANCHE C Rated bond
P90909A       Vanilla Repo 2.3%
VG20000        ETF Russell 1000
dtype: object
Vanilla Repo 2.3%

<h2>Exercise</h2>

sales = {'Jan': 150, 'Feb':200, 'Mar': 175,<br>
        'April': 75, 'May': 80, 'Jun': 300,<br>
        'July': 250, 'August':130, 'September': 195,<br>
        'October': 75, 'November': 120, 'December': 400}<br>
1. Add data to a pandas series<br>
2. The index is the month<br>
3. Find the sales data for October<br>
4. Sum the sales<br>
5. What was the averages sales amount<br>

In [4]:
import pandas as pd

sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'Jun': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}

months_data = pd.Series(sales.values(), index = sales.keys())
print(months_data)

print(f"In October sales were: {months_data.loc['October']}")
print(f"The total sales were: {months_data.sum()}")
print(f"The average sales amount was: {months_data.mean()}")

Jan          150
Feb          200
Mar          175
April         75
May           80
Jun          300
July         250
August       130
September    195
October       75
November     120
December     400
dtype: int64
In October sales were: 75
The total sales were: 2150
The average sales amount was: 179.16666666666666

<h2>.loc can be done with a range</h2>

In [10]:
import pandas as pd
sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series(sales)
ps.loc['April':'July']

April     75
May       80
June     300
July     250
dtype: int64

<h2>Exercise</h2>
Output the first quarter of the sales data

In [11]:
import pandas as pd
sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series(sales)
ps.loc[:'Mar']

Jan    150
Feb    200
Mar    175
dtype: int64

<h2>Exercise</h2>
Using the dictionary below do the following:<br>
1 - Create a pandas data series<br>
2 - Use a 3 character all caps month abreviation as the index<br>
3 - Add 50 to each sales number<br>
4 - Print the first 6 months of sales<br>
<code>
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
</code>

In [12]:
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
res = pd.Series([v for k,v in sales.items()], index = [x.upper()[:3] for x in sales.keys()]) + 50
# res.head(6)

# Method 2
res.loc[:'JUN']

JAN    200
FEB    250
MAR    225
APR    125
MAY    130
JUN    350
dtype: int64

<h2>Pandas Series - Basic Statistics</h2>
To gather basic statistics on a data Series we can use the built in<br>
'.describe' method <br>
<code>
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series([int(val)+50 for val in sales.values()],
               index = [mon.upper()[:3] for mon in sales.keys()])
ps.describe()
</code><br><br>
This will give us the following statistics:<br>
1 - count<br>
2 - mean<br>
3 - standard deviation<br>
4 - minimum<br>
5 - 25% quartile<br>
6 - Median<br>
7 - 75% quartile<br>
5 - maximum<br>

In [13]:
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series([int(val)+50 for val in sales.values()],
               index = [mon.upper()[:3] for mon in sales.keys()])
ps.describe()

count     12.000000
mean     229.166667
std       98.807281
min      125.000000
25%      160.000000
50%      212.500000
75%      262.500000
max      450.000000
dtype: float64

In [14]:
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series([int(val)+50 for val in sales.values()],
               index = [mon.upper()[:3] for mon in sales.keys()])
ps.count()
ps.mean()
ps.std()
ps.min()
ps.max()
ps.median()

212.5

We can also get the quantile values as well using a pandas method<br>
<code>
import pandas as pd
s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', 
     '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', 
     '86', '89', '76', '88', '65', '65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps
</code>

In [15]:
import pandas as pd
s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', 
     '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', 
     '86', '89', '76', '88', '65', '65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps

0.25    74.75
0.50    80.50
0.75    86.50
dtype: float64

In [16]:
import pandas as pd
s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', 
     '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', 
     '86', '89', '76', '88', '65', '65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps.describe()

count     3.000000
mean     80.583333
std       5.875443
min      74.750000
25%      77.625000
50%      80.500000
75%      83.500000
max      86.500000
dtype: float64

<h2>Sorting Values in pandas Series</h2>
We can sort a series by using the sort_values method.<br>
<code>
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values(ascending = False)
ps
</code><br>
NOTE: We can use the ascending = True to sort the series in ascending order

In [17]:
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values(ascending = False)
ps

4    33
0    27
3    23
6    22
2    14
5    14
7    11
1     4
dtype: int64

In [18]:
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values()
ps

1     4
7    11
2    14
5    14
6    22
3    23
0    27
4    33
dtype: int64

The following represented the price of gasoline in the following states:<br>
{'New York': [3.23, 3.17, 3.23, 3.10, 3.09],<br>
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}<br>
Create a pandas series with the index of the state and the column with the average price<br>
per 5 day period<br>
Order by largest to smallest mean price<br>

In [ ]:
gas_prices = {'New York':[3.23,3.17,3.23,3.10,3.09],
              'Connecticut':[3.15,3.23,3.11,3.15,3.09]}

res = pd.Series([sum(v)/len(v) for v in gas_prices.values()], index = [k for k in gas_prices.keys()]).sort_values(ascending=False)

print(res)

We can also sort a series using a lambda expression.  Consider the <br>
following list of strings:<br>
<code>
ps = pd.Series(['a', 'B', 'c', 'D', 'e'])
ps.sort_values(key=lambda x: x.str.lower())
ps
</code><br>
NOTE: We can use the str method to change all values in a series to a string

In [20]:
import pandas as pd
ps = pd.Series(['a', 'c', 'D', 'e',  'B'])
ps = ps.str.lower()
ps.sort_values(inplace = True)
ps

0    a
4    b
1    c
2    d
3    e
dtype: object

<H2>Exercise</h2>
Take the following list of cities and alphabetize them and put them<br>
In the proper case:  ALBANY ---> Albany<br>
<case>
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']
</cose>

In [21]:
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

cities = pd.Series(cities).str.title()

cities

0    Providence
1      Hartford
2        Boston
3        Albany
4       Trenton
dtype: object

<h4>Pandas Series.str methods</h4>
Here is a list of str methods to try:<br>
str.contains<br>
str.count<br>
str.startswith<br>
str.endswith<br>
str.find<br>
str.index<br>
str.join<br>
str.get<br>
str.len<br>
str.split<br>
str.isalnum<br>
<code>
import pandas as pd
import numpy as np
print('contains','='*35)
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
print(s1.str.contains('og', regex=False))
print('count','='*35)
s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat','aardvark'])
print(s.str.count('a'))
print('count','='*35)
s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat']) # find the dollar sign
print(s.str.count('\\$'))
print('endswith','='*35)
s = pd.Series(['bat', 'bear', 'caT', np.nan])
print(s.str.endswith('t'))
print('find','='*35)
s = pd.Series(['bat', 'bear', 'caT','boat','catepillar'])
print(s.str.find('t'))
print('index','='*35)
s = pd.Series(['Albany', 'Maryland', 'Pennsylvania','Canarse'])
print(s.str.index('a'))
print('join','='*35)
s = pd.Series([['lion', 'elephant', 'zebra'],
               [1.1, 2.2, 3.3],
               ['cat', 'gerbil', 'dog'],
               ['cow', 4.5, 'goat'],
               ['duck', 'swan', 'fish', 'guppy']])
print(s.str.join('-'))
print('get','='*35)
s = pd.Series(["String",
              (1, 2, 3),
              ["a", "b", "c"],
              123,
              -456,
              {1: "Hello", "2": "World"}])
print(s.str.get(1)) # Get the second item
print('len','='*35)    
s = pd.Series(['dog',
                '',
                5,
                {'foo' : 'bar'},
                [2, 3, 5, 7],
                ('one', 'two', 'three')])
print(s.str.len())
print('split','='*35) 
s = pd.Series(
    ["this is a regular sentence",
        "https://docs.python.org/3/tutorial/index.html",
        np.nan
    ])
print(s.str.split())
print('isalnum','='*35)    
s = pd.Series(['dog',
                '',
                5,
                {'foo' : 'bar'},
                [2, 3, 5, 7],
                ('one', 'two', 'three')])
print(s.str.isalnum())
</code>

In [22]:
import pandas as pd
import numpy as np
print('contains','='*35)
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
print(s1.str.contains('og', regex=False))
print('count','='*35)
s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat','aardvark'])
print(s.str.count('a'))
print('count','='*35)
s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat']) # find the dollar sign
print(s.str.count('\\$'))
print('endswith','='*35)
s = pd.Series(['bat', 'bear', 'caT', np.nan])
print(s.str.endswith('t'))
print('find','='*35)
s = pd.Series(['bat', 'bear', 'caT','boat','catepillar'])
print(s.str.find('t'))
print('index','='*35)
s = pd.Series(['Albany', 'Maryland', 'Pennsylvania','Canarse'])
print(s.str.index('a'))
print('join','='*35)
s = pd.Series([['lion', 'elephant', 'zebra'],
               [1.1, 2.2, 3.3],
               ['cat', 'gerbil', 'dog'],
               ['cow', 4.5, 'goat'],
               ['duck', 'swan', 'fish', 'guppy']])
print(s.str.join('-'))
print('get','='*35)
s = pd.Series(["String",
              (1, 2, 3),
              ["a", "b", "c"],
              123,
              -456,
              {1: "Hello", "2": "World"}])
print(s.str.get(1)) # Get the second item
print('len','='*35)    
s = pd.Series(['dog',
                '',
                5,
                {'foo' : 'bar'},
                [2, 3, 5, 7],
                ('one', 'two', 'three')])
print(s.str.len())
print('split','='*35) 
s = pd.Series(
    ["this is a regular sentence",
        "https://docs.python.org/3/tutorial/index.html",
        np.nan
    ])
print(s.str.split())
print('isalnum','='*35)    
s = pd.Series(['dog',
                '',
                5,
                {'foo' : 'bar'},
                [2, 3, 5, 7],
                ('one', 'two', 'three')])
print(s.str.isalnum())

contains ===================================
0    False
1     True
2    False
3    False
4      NaN
dtype: object
count ===================================
0    0.0
1    0.0
2    2.0
3    2.0
4    NaN
5    0.0
6    1.0
7    3.0
dtype: float64
count ===================================
0    1
1    0
2    1
3    2
4    2
5    0
dtype: int64
endswith ===================================
0     True
1    False
2    False
3      NaN
dtype: object
find ===================================
0    2
1   -1
2   -1
3    3
4    2
dtype: int64
index ===================================
0    3
1    1
2    8
3    1
dtype: int64
join ===================================
0     lion-elephant-zebra
1                     NaN
2          cat-gerbil-dog
3                     NaN
4    duck-swan-fish-guppy
dtype: object
get ===================================
0        t
1        2
2        b
3      NaN
4      NaN
5    Hello
dtype: object
len ===================================
0    3.0
1    0.0
2    NaN
3    1.0
4    4.0
5    3.0
dtype: float64
split ===================================
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object
isalnum ===================================
0     True
1    False
2      NaN
3      NaN
4      NaN
5      NaN
dtype: object

In [54]:
s = pd.Series(['$', '@B', 'Aab$', '$$ca', 'C$B$', 'cat']) # find the dollar sign
print(s.str.count('\\@'))

0    0
1    1
2    0
3    0
4    0
5    0
dtype: int64

In [58]:
s = pd.Series(['$', '@B', '-Aa-b$', '$$ca', 'C$B$', 'cat']) # find the dollar sign
print(s.str.count('-'))

0    0
1    0
2    2
3    0
4    0
5    0
dtype: int64

<h2>Mini Project</h2>
<h2>Exercise</h2>
Create a class that operates on words<br>
1 - method 'remove_vowels' - Strips all vowels out<br>
2 - method 'strip_constants' - Strips constants<br>
3 - method 'strip_fixed' - Strips based on a skip<br>
4 - print gives the word and and counts the number of vowels and the number of constants<br>
5 - Add a method that randomly removes up to n chars but has to be less than the length - 1(colapses)
6 - On all removal options add option to replace the removal with a specified character.  The default is an underscore '_'