In [9]:
import pandas as pd

chars = [chr(i) for i in range(ord("A"), ord("Z")+1)]
indx = [ord(i) for i in chars]

letters = pd.Series(chars, index=indx)
print(letters)

65    A
66    B
67    C
68    D
69    E
70    F
71    G
72    H
73    I
74    J
75    K
76    L
77    M
78    N
79    O
80    P
81    Q
82    R
83    S
84    T
85    U
86    V
87    W
88    X
89    Y
90    Z
dtype: object

<h3>Create a pandas series with the following information:</h3>
<p>The index is of the following:
 desserts ={'Apple Pie': 9.99,
 'Cheesecake': 21.00,
 'Chocolate Souffle': 14.99,
'Carrot Cake': 11.99}
1. Make the index the names and the prices in the column
2. Print the price of the 'Cheesecake'
3. Total cost of all the items and average cost </p>

In [10]:
import pandas as pd

desserts ={'Apple Pie': 9.99,
'Cheesecake': 21.00,
'Chocolate Souffle': 14.99,
'Carrot Cake': 11.99}
keys = desserts.keys()
values = desserts.values()

ps = pd.Series(values, index=keys)
results= ps.loc['Cheesecake']
print(ps)
print(results)

sum = round(ps.sum(), 2)
print(f'the sum is: {sum}')

average = round(ps.mean(), 2)
print(f'the average is: {average}')

Apple Pie             9.99
Cheesecake           21.00
Chocolate Souffle    14.99
Carrot Cake          11.99
dtype: float64
21.0
the sum is: 57.97
the average is: 14.49

In [11]:
def Mysum2(string):
    total = 0
    for ch in string:
        ascii_val = ord(ch)
        total += ascii_val
        # print((f"character {ch} / value {ascii_val}"))
    return total
string = "My name is SHAQ"
string2 = "My name is Dom"
total = Mysum2(string)
# print((f"this is the total {total}"))

The following represented the price of gasoline in the following states:
{'New York': [3.23, 3.17, 3.23, 3.10, 3.09],
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}
Create a pandas series with the index of the state and the column with the average price
per 5 day period

In [12]:
import pandas as pd

gasPrice5Day = {'New York': [3.23, 3.17, 3.23, 3.10, 3.09],
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}

keys = gasPrice5Day.keys()
values = gasPrice5Day.values()

ps = pd.Series(values, index=keys)
nyGasPrices = ps.loc['New York']
ctGasPrices = ps.loc['Connecticut']
print(ps)
print(nyGasPrices, ctGasPrices)

#Find sum for NY list of 

sum1 = 0
i = 0
while(i < len(nyGasPrices)):
    sum1 += nyGasPrices[i]
    i = i + 1

print(f'The sum for 5 days in NY are: {sum1}')
print(f'The Average price per 5 day period for Gas Prices in New York are: {sum1/(len(nyGasPrices))}')

# Find Sum Using The Range Method for CT
sum2 = 0
for gas in range(0, len(ctGasPrices)):
    sum2 += ctGasPrices[gas]


print(f'The sum for 5 days in CT are: {sum2}')
print(f'The Average price per 5 day period for Gas Prices in Conneticut are: {sum2/(len(ctGasPrices))}')

New York        [3.23, 3.17, 3.23, 3.1, 3.09]
Connecticut    [3.15, 3.23, 3.11, 3.15, 3.09]
dtype: object
[3.23, 3.17, 3.23, 3.1, 3.09] [3.15, 3.23, 3.11, 3.15, 3.09]
The sum for 5 days in NY are: 15.82
The Average price per 5 day period for Gas Prices in New York are: 3.164
The sum for 5 days in CT are: 15.73
The Average price per 5 day period for Gas Prices in Conneticut are: 3.146

In [13]:
# Simple Method
import pandas as pd

gas_prices = {'New York': [3.23, 3.17, 3.23, 3.10, 3.09],
'Connecticut': [3.15, 3.23, 3.11, 3.15, 3.09]}

res = pd.Series([sum(v)/len(v) for k,v in gas_prices.items() ], index = gas_prices.keys())
res

TypeError: 'numpy.float64' object is not callable

Exercise


cusips = ['A123456','C711111','P90909A','VG20000']

bonds = ['AAA - CLO Bonds','TRANCHE C Rated bond','Vanilla Repo 2.3%','ETF Russell 1000']


Create a pandas data frame and locate the bond with this cusip 'P90909A' as the index.
NOTE: loc uses square brackets

In [ ]:
import pandas as pd
#Index
cusips = ['A123456','C711111','P90909A','VG20000']
print('==='*10)
bonds = ['AAA - CLO Bonds','TRANCHE C Rated bond','Vanilla Repo 2.3%','ETF Russell 1000']

ps = pd.Series(bonds, index = cusips)
x = ps.loc['P90909A']
x

==============================

'Vanilla Repo 2.3%'

<h2>Exercise</h2>
Read in and clean the following list of data and place into a pandas series<br>
without an index.  The numbers should be cast as int32 data.
<br>
<code>
grades = ['68\n', '90\n', '69\n', '86\n', '78\n', 
          '97\n', '95\n', '83\n', '84\n', '74\n', 
          '84\n', '71\n', '79\n', '82\n', '79\n', 
          '69\n', '99\n', '93\n', '77\n', '77\n', 
          '75\n', '83\n', '86\n', '89\n', '76\n', 
          '88\n', '65\n', '65\n']
</code><br>
Finally, add 5 points to every grade

In [ ]:
import pandas as pd
grades = ['68\n', '90\n', '69\n', '86\n', '78\n', 
          '97\n', '95\n', '83\n', '84\n', '74\n', 
          '84\n', '71\n', '79\n', '82\n', '79\n', 
          '69\n', '99\n', '93\n', '77\n', '77\n', 
          '75\n', '83\n', '86\n', '89\n', '76\n', 
          '88\n', '65\n', '65\n']
# Remove \n and convert into 'int32' by using .astype()
removeN = [x.strip('\n') for x in grades]
print(removeN)
#Add 5 points
res = pd.Series(removeN).astype('int32') + 5
print(res,res.dtype)

['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', '86', '89', '76', '88', '65', '65']
0      73
1      95
2      74
3      91
4      83
5     102
6     100
7      88
8      89
9      79
10     89
11     76
12     84
13     87
14     84
15     74
16    104
17     98
18     82
19     82
20     80
21     88
22     91
23     94
24     81
25     93
26     70
27     70
dtype: int32 int32

sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'Jun': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
1. Add data to a pandas series
2. The index is the month
3. Find the sales data for October
4. Sum the sales
5. What was the averages sales amount

In [ ]:
import pandas as pd

sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'Jun': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}

months_data = pd.Series(sales.values(), index = sales.keys())
print(months_data)

print(f"In October sales were: {months_data.loc['October']}")
print(f"The total sales were: {months_data.sum()}")
print(f"The average sales amount was: {months_data.mean()}")

Jan          150
Feb          200
Mar          175
April         75
May           80
Jun          300
July         250
August       130
September    195
October       75
November     120
December     400
dtype: int64
In October sales were: 75
The total sales were: 2150
The average sales amount was: 179.16666666666666

In [ ]:
import pandas as pd
sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series(sales)
ps.loc['Jan':'Mar']

Jan    150
Feb    200
Mar    175
dtype: int64

In [ ]:
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
res = pd.Series([v for k,v in sales.items()], index = [x.upper()[:3] for x in sales.keys()]) + 50
# res.head(6)

# Method 2
res.loc[:'JUN']

JAN    200
FEB    250
MAR    225
APR    125
MAY    130
JUN    350
dtype: int64

The list to run are as follows:<br>
ps.mean()<br>
ps.median()<br>
ps.count()<br>
ps.std()<br>
ps.min()<br>
ps.max()<br>
ps.mode()<br>

In [ ]:
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series([int(val)+50 for val in sales.values()],
               index = [mon.upper()[:3] for mon in sales.keys()])
ps.describe()


s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', '86', '89', '76', '88', '65','65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])

# Another way is to do each individual
# ps.mean()
# ps.median()
# ps.count()
# ps.std()
# ps.min()
# ps.max()
# ps.mode()

count     12.000000
mean     229.166667
std       98.807281
min      125.000000
25%      160.000000
50%      212.500000
75%      262.500000
max      450.000000
dtype: float64

In [ ]:
import pandas as pd

s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', '86', '89', '76', '88', '65','65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps

0.25    74.75
0.50    80.50
0.75    86.50
dtype: float64

In [ ]:
import pandas as pd

s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', '86', '89', '76', '88', '65','65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps.describe()

count     3.000000
mean     80.583333
std       5.875443
min      74.750000
25%      77.625000
50%      80.500000
75%      83.500000
max      86.500000
dtype: float64

In [ ]:
# Correct Method
gas_prices = {'New York':[3.23,3.17,3.23,3.10,3.09],
              'Connecticut':[3.15,3.23,3.11,3.15,3.09]}

res = pd.Series([sum(v)/len(v) for v in gas_prices.values()], index = [k for k in gas_prices.keys()]).sort_values(ascending=False)

print(res)

New York       3.164
Connecticut    3.146
dtype: float64

In [ ]:
import pandas as pd
ps = pd.Series(['a', 'c', 'D', 'e',  'B'])
ps = ps.str.lower()
ps.sort_values(inplace = True)
ps

0    a
4    b
1    c
2    d
3    e
dtype: object

In [ ]:
# Exercise
# Take the following list of cities and alphabetize them and put them
# In the proper case: ALBANY ---> Albany
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

res = [city.lower().capitalize() for city in cities ]
print(res)

cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

cities = pd.Series(cities).str.title()

cities

['Providence', 'Hartford', 'Boston', 'Albany', 'Trenton']

0    Providence
1      Hartford
2        Boston
3        Albany
4       Trenton
dtype: object

In [ ]:
import pandas as pd

import numpy as np      

d = {
    'one':[100,200,300,400],
    'two': [1000,2000,3000,4000]
}

pd.DataFrame(d, index=['balls','more balls', 'yo','a lot of balls'])
data= np.zeros((2,))
dtype = [('A','i4'),('B','f4'),('C','a10')]
data, dtype

data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

SyntaxError: unexpected EOF while parsing (<ipython-input-15-32c91a0f1874>, line 15)

In [ ]:
import pandas as pd
new_file = pd.read_csv('/Users/shaq/desktop/final_project/emp_file_CAPSTONE.txt')
new_file['dept'] = new_file['dept'].str.title()
new_file['ln'] = new_file['ln'].str.title()
new_file.fillna('', inplace = True)
new_file['Name'] = new_file['ln'] + ',' + new_file['fn'] + ' ' + new_file['mi']
new_file

,fn,ln,mi,gender,sg,salary,dept,hiredate,termdate,Name
0,Madison,Wilton,W,F,1,$77582,Hr,11/22/2015,,"Wilton,Madison W"
1,James,Smith,A,M,1,38136,Comp,1/17/2018,,"Smith,James A"
2,John,Johnson,,M,4,107483,Fin,6/2/2017,,"Johnson,John"
3,Robert,Williams,W,M,7,3X429110,Comp,11/25/2013,,"Williams,Robert W"
4,Michael,Brown,J,M,7,3X646818,Proj,1/20/2012,,"Brown,Michael J"
...,...,...,...,...,...,...,...,...,...,...
673,Lawrence,Rubio,,M,6,3X499553,Acc,11/14/2011,,"Rubio,Lawrence"
674,Austin,Choi,,M,4,114045,Hr,6/10/2017,,"Choi,Austin"
675,Joe,Huffman,G,M,1,33030,Comp,3/22/2016,,"Huffman,Joe G"
676,Noah,Boyer,F,M,2,51120,Proj,10/8/2017,,"Boyer,Noah F"
677,Jesse,Garrison,G,M,2,44124,Proj,3/1/2017,,"Garrison,Jesse G"

In [16]:
import datetime


employees = {'111':['Tom','03/05/2020'],
             '222':['Jane','02/05/2017']}

target_date = datetime.date(2021,9,1)
print(target_date,type(target_date))
for k,v in employees.items():
    print(k)
    print(v)
    m,d,y = v[1].split('/')
    print(m,d,y)
    hire_date = datetime.date(int(y),int(m),int(d))
    print(hire_date,type(hire_date))
    days_employed = target_date - hire_date
    print(f'Employed for {days_employed} days')
    print('='*35)

old_file['hiredate'] = old_file['hiredate'].map(lambda x : x.replace('', '').replace('/', ''))

2021-09-01 <class 'datetime.date'>

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
# Part 2 - b - SALARY ANALYSIS
# A normal distribution has the following attributes:
# 68% within 1 standard deviation, 95% within 2 STD, 99% within 3 STD
# 1 - Decode the salaries column
# 3X189933
# scale = [0,1,2,3,4,5,6,7,8,9]

# 0 -->7
# 1 -->8
# 2 -->9
# 3 -->0
# 4 -->1
# 5 -->2
# 6 -->3
# 7 -->4
# 8 -->5
# 9 -->6

In [1]:
import string

import pandas as pd

uppercaselst = string.ascii_uppercase.split()
chars = uppercaselst[0]
delim = ','
phrase0 = delim.join(chars)
print(uppercaselst, chars, list(phrase0.strip().replace(",","")))
 

phrase = list(phrase0.strip().replace(",",""))
index = range(1,27)
ps = pd.Series(phrase, index = index)
ps.loc[7]
for ch in ps:
    # print(ch)
    if ch == chr(72):
        print(ch)
p2 = pd.Series(index)
p3 = ps.append(p2)
p3

['ABCDEFGHIJKLMNOPQRSTUVWXYZ'] ABCDEFGHIJKLMNOPQRSTUVWXYZ ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
H

1      A
2      B
3      C
4      D
5      E
6      F
7      G
8      H
9      I
10     J
11     K
12     L
13     M
14     N
15     O
16     P
17     Q
18     R
19     S
20     T
21     U
22     V
23     W
24     X
25     Y
26     Z
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
dtype: object